<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello Django!</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body class="container">
    <div class="jumbotron bg-info text-center text-white">
        <h2>Hash It!</h2>
        <p>A Simple Hash Generator</p>
    </div>
    <div class="card text-center border bg-light">
        <form action="{% url 'home' %}" class="mt-2" method="POST">
            <div class="card-title p-5">
                {% csrf_token %}
                {{ form.as_p }}
            </div>
            <div class="card-footer ">
                <input class="btn btn-info" type="submit" name="submit" value="Hash">
            </div>
        </form>
    </div>
    <div class="jumbotron bg-light card mt-5 text-center">
        <h5 id="quickhash"></h5>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
        $('#id_text').keyup(function () {
            var text = $(this).val();
            $.ajax({
                url: '/quickhash',
                data: {
                    'text': text
                },
                dataType: 'json',
                success: function (data) {
                    $('#quickhash').text('Quick Hash : ' + data['hash']);
                }
            });
        });
    </script>
</body>

</html>